// Stili per h1-h6

@use './variables' as *;
@use '../mediaquery/media-query' as *;
@use 'sass:map';

h1, h2, h3 {
  font-family: var(--font-family-base);
  font-weight: map.get($font-weights, bold);
  line-height: map.get($line-heights, tight);
  margin-bottom: 0.5rem;
}

h1 {
  font-size: var(--font-size-4xl);
}

h2 {
  font-size: var(--font-size-3xl);
}

h3 {
  font-size: var(--font-size-2xl);
}
